<div class="body">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Clothing</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Spicial Offers</a>
        </li>
      </ul>
      <form class="d-flex justify-content-center align-items-center">
        <a href="#" class="badge bg-secondary rounded-pill me-3">
          <i class="fas fa-shopping-cart me-1 p-1"></i></a>
        <button class="btn btn-info me-3" type="submit">Log In</button>
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</nav>

<section class="order-section mt-3">
    <div class="container-xxl">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-8">
                <h2>Order</h2>
                <div  class="saled-order mt-3 d-flex flex-column bg-white border border-1 rounded-3 p-2">

                  <div class="rotation d-flex justify-content-end align-items-end">
                      <p class="rotate col-2 bg-danger text-light text-center p-2 rounded">SALE TIME!</p>
                  </div>
                    <div class="orders row d-flex justify-content-between align-items-center">

                        <div class="row col-lg-7">
                          <img class="col-lg-5 img-fluid" src="assets/images/main-master-designer-creating-fashion-clothes-designs-hanging-it-coat-rack-fashion-house-clothing-design-house-fashion-production-concept-pinkish-coral-bluevector-isolated-illu.jpg">
                          <div class="col-lg-7 description">
                              <b>Product Name</b>
                              <p>color: <span style="font-weight:500">Red/White</span></p>
                              <p>size: <b>L</b></p>
                          </div>
                        </div>

                        <div class="col-lg-1">
                            <p class="text-danger">$45.00</p>
                        </div>

                        <div class="col-lg-1">
                          <p>$45.00</p>
                      </div>

                      <div class="row col-lg-3 align-items-center">

                          <p class="col-2 me-5">Quantity:</p>
                          <input class="col-4 me-2" type="number" value="1">
                          <b class="col-2 border border-dark rounded-circle">L</b>
                      </div>

                    </div>

                    <div class="orders mt-3 row d-flex justify-content-between align-items-center">

                      <div class="row col-lg-7">
                        <img class="col-lg-5 img-fluid" src="assets/images/women-buying-clothes-clothing-store-isolated-flat-vector-illustration-cartoon-girls-consumers-choosing-modern-apparel-garment-dress-fashion-shop-style_74855-8696.jpg">
                        <div class="col-lg-7 description">
                          <b>Product Name</b>
                            <p>color: <span style="font-weight:500">Red/White</span></p>
                            <p>size: <b>L</b></p>
                        </div>
                      </div>

                      <div class="col-lg-1">
                          <p class="text-danger">$45.00</p>
                      </div>

                      <div class="col-lg-1">
                        <p>$45.00</p>
                    </div>

                    <div class="row col-lg-3 align-items-center">
                      <p class="col-2 me-5">Quantity:</p>
                        <input class="col-4 me-2" type="number" value="1">
                        <b class="col-2 border border-dark rounded-circle">L</b>                    </div>

                  </div>

                  <div class="orders mt-3 row d-flex justify-content-between align-items-center">

                      <div class="row col-lg-7">
                        <img class="col-lg-5 img-fluid" src="assets/images/customers-fashion-shop-women-choosing-clothes-store-flat-vector-illustration-shopping-sale-retail-concept_74855-9836.jpg">
                        <div class="col-lg-7 description">
                          <b>Product Name</b>
                            <p>color: <span style="font-weight:500">Red/White</span></p>
                            <p>size: <b>L</b></p>
                        </div>
                      </div>

                      <div class="col-lg-1"></div>

                      <div class="col-lg-1">
                        <p>$45.00</p>
                    </div>

                    <div class="row col-lg-3 align-items-center">
                        <p class="col-2 me-5">Quantity:</p>
                        <input class="col-4 me-2" type="number" value="1">
                        <b class="col-2 border border-dark rounded-circle">L</b>                    </div>

                  </div>

                </div>
            </div>

            <div class="col-lg-4">
                <h2 class="mb-5">Payment Summary</h2>
                <div class="p-4 bg-light">
                  <div class="d-flex justify-content-center">
                      <button class="btn form-control" style="background-color: lightgray; border: none">UNREGISTERED ACCOUNT</button>
                    </div>

                    <div class="d-flex justify-content-between mt-3">
                        <p>Transition Code: </p>
                        <b>XASDAS652</b>
                    </div>

                    <div class="d-flex justify-content-between">
                      <input class="form-control me-5" type="text" placeholder="COUPON CODE">
                      <button class="btn btn-primary">Apply</button>
                  </div>

                  <hr>

                  <div class="d-flex justify-content-between">
                      <p>Order Summary: </p>
                      <b>$122</b>
                  </div>

                  <div class="d-flex justify-content-between">
                      <p>Additional Service Summary: </p>
                      <b>$10</b>
                  </div>

                  <div class="d-flex justify-content-between">
                      <p>Total Ammount: </p>
                      <b>$132</b>
                  </div>

                  <hr>

                  <div class="d-flex justify-content-center">
                      <button class="btn form-control" style="background-color: lightgray; border: none">SALE EXPIRING IN: <span class="text-danger">21 Hours, 31 Minutes</span></button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-3">
    <div class="container-xxl">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-8">
                <h2>Order</h2>

                <div class="row mt-4 p-4">
                  <div class="row col-lg-6 d-flex align-items-center rounded-3 bg-white pt-3 me-4">
                      <div class="col-1 form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      </div>

                      <div class="col-3">
                          <img class="img-fluid" src="assets/images/DPD_logo.png">
                      </div>

                      <div class="col-6">
                          <b>DPD Deleviries</b>
                          <p>Expected deleviry. friday 28 </p>
                      </div>

                      <div class="col-1">
                          <b>$5.25</b>
                      </div>
                  </div>

                  <div class="row col-lg-6 d-flex align-items-center rounded-3 bg-white pt-3">
                      <div class="col-1 form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      </div>

                      <div class="col-3">
                          <img class="img-fluid" src="assets/images/FedEx-Logo-400x131.png">
                      </div>

                      <div class="col-6">
                          <b>FedEx fast Deleviry</b>
                          <p>Expected deleviry. friday 28 </p>
                      </div>

                      <div class="col-1">
                          <b>$5.25</b>
                      </div>
                  </div>

                  <div class="row col-lg-6 d-flex align-items-center rounded-3 bg-white pt-3 me-4 mt-4">
                      <div class="col-1 form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      </div>

                      <div class="col-3">
                          <img class="img-fluid" src="assets/images/UPS-Logo.png">
                      </div>

                      <div class="col-6">
                          <b>UPS Deleviries</b>
                          <p>Expected deleviry. friday 28 </p>
                      </div>

                      <div class="col-1">
                          <b>$5.25</b>
                      </div>
                  </div>

                  <div class="row col-lg-6 d-flex align-items-center rounded-3 bg-white pt-3 mt-4">
                      <div class="col-1 form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      </div>

                      <div class="col-3">
                          <img class="img-fluid" src="assets/images/fast-delivery-logo-minimal-design-with-a-running-box-illustration-vector.jpg">
                      </div>

                      <div class="col-6">
                          <b>Collect in person</b>
                          <p>Expected deleviry. friday 28 </p>
                      </div>

                      <div class="col-1">
                          <b>$5.25</b>
                      </div>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 p-4">
                <h2 class="mb-4">Payment Summary</h2>

                <div class="row d-flex justify-content-center align-items-center rounded-3 bg-white pt-2">

                  <div class="col-8">
                      <b>Care + Package</b>
                      <p>One year of additional care</p>
                  </div>

                  <div class="col-2">
                      <b>$6.00</b>
                  </div>

                  <div class="col-2">
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                  </div>
              </div>

              <div class="row d-flex justify-content-center align-items-center rounded-3 bg-white pt-2 mt-2">

                  <div class="col-8">
                      <b>Care + Package</b>
                      <p>One year of additional care</p>
                  </div>

                  <div class="col-2">
                      <b>$6.00</b>
                  </div>

                  <div class="col-2">
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                  </div>
              </div>

              <div class="row d-flex justify-content-center align-items-center rounded-3 bg-white pt-2 mt-2">

                  <div class="col-8">
                      <b>Care + Package</b>
                      <p>One year of additional care</p>
                  </div>

                  <div class="col-2">
                      <b>$6.00</b>
                  </div>

                  <div class="col-2">
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>
</div>
